h1{
	margin:30px;
	color:white;
}

body{
	height:100%;
	background: linear-gradient(to top, #ffe6e6 10%,  #ff8080 80%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:white;
}

#img{
	height:30vw;
	width:30vw;
	padding:8vw;
	border-radius: 50%;
	border:3px solid white;
	margin-top: 10px;
	display: inline-block;
	font-size: 8vw;
	color:white;
	background-color: #ffd9b3;
		
}

.game{
	width:80%;
	height:70%;
	position:absolute;
	top:15%;
	left:10%;
}

.answer{
	
	margin:5px;
}

.answer:hover{

	font-style: italic;
	font-weight: 600;
}

.gif{
	width:36%;
	height:auto;
	margin:0,auto;
	display:block;
	margin-left:32%; 
	margin-top: 2vw;
}

